@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

@font-face {
    font-family: "Champagne";
    src: url("/fonts");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Champagne', cursive;
}

main {
    background: white;
    margin-top: 80px;
}

/*Slider*/
.carousel .item {
    width: 100%; /*slider width*/
    max-height: 400px; /*slider height*/
}

.carousel .item img {
    width: 60%; /*img width*/
}

/*full width container*/
@media (max-width: 400px) {
    .slider {
        margin-left: -20px;
        margin-right: -20px;
    }
}

/*Purchase Menu*/
.wrapper {
    border-top: 3px solid #4C1818;
    border-bottom: 3px solid #4C1818;
    margin: 0 auto;
    display: flex;
    width: 80%;
    padding: 15px 0 50px 0;
}

/*!* Title **/
.wrapper-title {
    display: flex;
    justify-content: center;
}

.items-title {
    cursor: default;
    font-size: 2.5em;
    color: black;
    text-shadow: 1px 1px white;
}

.items-navigation {
    width: 35%;
    margin-top: 65px;
}

.nav-menu-filters {
    color: black;
    padding-left: 40px;
    font-size: 1.7em;
    margin-bottom: 10px;
    cursor: default;
}

.nav-menu {
    line-height: 45px;
    width: 50%;
    height: 100%;
    margin-left: 40px;
}

.nav-menu li {
    font-size: 1em;
    list-style-type: none;
    font-weight: 500;
}

.nav-menu li:hover {
    background: #4C1818;
    cursor: pointer;
}

.nav-menu li:hover a {
    color: white;
}

.nav-menu li a {
    font-weight: 500;
    padding: 0 10px;
    text-shadow: 0 -1px #080808;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.25);
}

.menu-purchase {
    width: 70%;
    flex-wrap: wrap;
    margin-top: 37px;
}

.thumbnail {
    width: 250px;
    border: 1px solid white;
}

.vafla-items {
    border-top: 3px solid black;
}

.vafla-items img {
    transition: all 0.5s ease;
}

.vafla-items img:hover {
    width: 300px;
    cursor: pointer;
}

.vafla-items li {
    display: inline-block;
    padding: 12px 10px;
    margin: 12px 5px;
    box-shadow: 0 15px 20px -8px rgba(0, 0, 0, 0.25);
}

.vafla-title {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-shadow: 1px 1px #bbbbbb;
}

.menu-purchase .purchase-btn {
    border: 1px solid black;
    width: 180px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 4px;
    outline: none;
    background: none;
}

.menu-purchase .vafla-items a {
    text-decoration: none;
    color: black;
    background: white;
    padding: 0;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 1px #cbcbcb;
    outline: none;
    border: none;

}

.menu-purchase .vafla-items .purchase-btn:hover .price{
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: none;
}


.menu-purchase .vafla-items .fa-shopping-cart{
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: none;
    line-height: 16px;
}

.menu-purchase .vafla-items .purchase-btn:hover .fa-shopping-cart{
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    background: #4c1818;
    color: #ffffff;
    font-size: 12px;
}

.menu-purchase .vafla-items .purchase-btn:hover {
    cursor: pointer;
    background: #4c1818;
    color: #ffffff;
}

.pricetag {
    text-align: center;
}

/*Map section*/
.map {
    border-top: 3px solid #4C1818;
    border-bottom: 3px solid #4C1818;
    text-align: center;
    background: #bbbbbb;
    opacity: 0.9;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.map-section {
    background: #bbbbbb;
}

.map-title {
    text-align: center;
    font-size: 2em;
    padding: 10px 0;
    cursor: default;
    color: black;
    text-shadow: 1px 1px white;
}

/*Footer*/
.footer {
    display: flex;
    border-bottom: 1px solid black;
    background: black /*rgb(60, 63, 73)*/;
    color: white;
}

.footer section {
    margin: 10px 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.firstsect ul {
    /*background: #4B4E58;*/
    padding: 3px;
    margin-bottom: 15px;
    border-radius: 7px;
}

ul.footer-links li {
    display: block;
    margin: 0 10px 10px 10px;
    font-size: 0.7em;
}

ul.footer-links li a {
    text-shadow: 1px 1px #080808;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

ul.footer-links li a:hover {
    text-shadow: 0 1px #080808;
    color: #4C1818;
}

.secondsect {
    flex-direction: column;
}

.footer-logo {
    width: 300px;
    height: 140px;
    margin: 0 auto;
}

.copyright {
    text-shadow: 0 1px #080808;
    font-size: 1em;
    text-align: center;
    cursor: default;
}

.thirdsect {
    display: block;
}

.foot-title {
    font-size: 1rem;
    text-shadow: 1px 1px #080808;
    font-weight: bold;
    text-transform: uppercase;
    color: #959BA5;
    text-align: center;
    margin-top: 10px;
    cursor: default;
}

.foot-socialmedia {
    text-align: center;
    text-shadow: 0 2px #080808;
}

.foot-socialmedia li {
    display: inline-block;
    text-decoration: none;
    margin: 16px 6px 5px 6px;
}

.foot-socialmedia li a {
    font-size: 1.1em;
    color: white;
}

.foot-socialmedia a:hover {
    color: #4C1818;
    cursor: pointer;
}

.foot-telephone {
    margin-left: 63px;
    text-align: center;
    text-shadow: 1px 2px #080808;
}

.foot-telephone li {
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    cursor: default;
    margin: 5px 4px;
}

.foot-mail {
    text-align: center;
    margin-left: 107px;
    text-shadow: 1px 2px #080808;
}

.foot-mail li {
    font-size: 1.03em;
    display: inline-block;
    text-decoration: none;
    margin: 8px 4px;
}

.foot-mail .email {
    font-size: 1em;
    color: white;
    text-decoration: none;
}

.foot-mail .email:hover {
    color: #4C1818;
    cursor: pointer;
}

#logo {
    text-align: center;
    height: 80px;
    width: 200px;
    float: left;
}

header {
    width: 100%;
    height: 80px;
    text-align: center;
    position: fixed;
    top: 0;
    background-color: #4C1818;
    z-index: 99;
}

#header_nav_bar_ul li {

    display: inline-block;
    color: black;
    margin: 0 40px 40px 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 80px;
}

#header_nav_bar_ul li a {
    text-decoration: none;
    color: white;
}

.icon {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 30px;
    margin-left: 12px;
    margin-right: 12px;
}

.icon_button {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    float: right;

}

#buttons {
    float: right;
}

.about-us {
    background: url("images/about_us_background.png") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 400px;
    padding: 85px 0;
}

.about-us-info {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    background: rgba(243, 131, 38, 0.4);
    color: #ffffff;
    font-weight: 900;
    border-top: 3px double #4C1818;
    border-bottom: 3px double #4C1818;
    text-shadow: 1px 2px #080808;
}

.about-us-info h3 {
    font-weight: 900;
    font-size: 1.8em;
    text-transform: uppercase;
    margin: 15px 0;
}

.about-us-info p {
    font-weight: 400;
    font-size: 1.2em;
    /* font-style: italic;*/
    margin-top: 15px;
    margin-bottom: 10px;
}

.about-us-info p:first-letter {
    text-transform: capitalize;
}

.scrollTop{
    position: fixed;
    outline:none;
    width: 42px;
    height: 42px;
    color: #ffffff;
    background-color: #933C3F;
    padding: 10px;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    right: 35px;
    bottom: 35px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.63);
}